html {
	height: 100%;
}
html body {
	height: 100%;
	overflow: hidden;
}
html body .container-fluid.body-content {
	position: absolute;
	top: 50px;
	bottom: 30px;
	right: 0;
	left: 0;
	overflow-y: auto;
}
header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background-color: #4c4;
	height: 50px;
}

#movies img,
#movie img {
	width: 100%;
}

@media (min-width: 960px) {
	#movies .col-md-3 .well {
		height: 390px;
	}

	#movies .col-md-3 img {
		height: 240px;
	}
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #4c4;
	height: 30px;
}
